main {
    height: 100%;
    width: 100%;
  
    top: 0;
    left: 0;
    z-index: -3;
  }

  .about {
    box-shadow: 0 10px 50px #f38d1d;
  }
  
  .heading {
    background: linear-gradient(#f38d1d 26.53%, #0d0d0d 104.11%);
    background-clip: text;
    font-family: "Montserrat";
  }
  
  #landing {
    margin-top: 13vh;
  }
  